<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments Page</title>
</head>
<body>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/sedi">Sedi</a>
    <a href="/logout">Log Out</a>
</div>

<div class="container">
    <h2>Le tue prenotazioni:</h2>
    <div class="form-container">
        <table>
            <thead>
            <tr>
                <th>Id Prenotazione</th>
                <th>Sede</th>
                <th>Data</th>
                <th>Orario</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pren: ${prenotazioni}">
                <form th:action="@{/prenotazione/modifica}" method="post">
                    <td><input type="number" th:value="${pren.prenId}" name="pren_id" readonly></td>
                    <td><input type="text" th:value="${pren.sedeName}" name="sede_name" readonly></td>
                    <td><input type="date" th:value="${pren.data}" name="date"></td>
                    <td><input type="time" th:value="${pren.orario}" name="time"></td>
                    <td><input type="hidden" th:value="${pren.sedeId}" name="sede_id" readonly></td>
                    <td><input type="submit" value="Modify"></td>
                </form>
                <td>
                    <form th:action="@{/prenotazione/delete}" method="post">
                        <input type="hidden" th:value="${pren.prenId}" name="pren_id">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <br>

        <div>
            <h2>Aggiungi prenotazione:</h2>
            <br>
            <form th:action="@{/prenotazione}" method="post">
                <div>
                    <label for="sede">Sede:</label>
                    <select id="sede" name="sede" required>
                        <option value="" selected></option>
                        <th:block th:each="sede : ${sedi}">
                            <option th:value="${sede.sedeId}">[[${sede.nomeSede}]]</option>
                        </th:block>
                    </select>
                </div>
                <div>
                    <label for="date">Data:</label>
                    <input type="date" id="date" name="date">
                </div>
                <div>
                    <label for="time">Time:</label>
                    <input type="time" id="time" name="time" required>
                </div>
                <div>
                    <button type="submit">Book</button>
                </div>
            <div>
                <span th:if="${success != null}">[[${success}]]</span>
            </div>
        </form>
    </div>
</body>
</html>
